{
  "__ACCEPT__": "'application/vnd.twitchtv.v5+json'",
  "__API__": "'<STREAMLINK_API>'",
  "__CLIENTID__": "'<TWITCH_CLIENT_ID>'",
  "__KRAKEN__": "'<TWITCH_KRAKEN_API>'",
  "__TOKEN__": "'<TOKEN_FOR_STREAMLINK>'",
  "NODE_ENV": "'development'"
}